#macOS system files
.DS_Store

#Python bytecode cache 
__pycache__/

#Python virtual environment 
venv/
env/

#Environment variables / secrets 
.env

#Log files
*.Log

#VS Code settings (optional)
.vscode/

# Ignore log files 
grace_chat.log
*.log